# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Environment variable files
.env
.coverage